/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS classes */
/* Tailwind CSS classes */
/* Tailwind CSS classes */
/* Pagination.css */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination a {
    display: block;
    padding: 8px;
    border-radius: 50%;
    background-color: #f3f4f6; /* Tailwind gray-200 */
    color: #000; /* Tailwind black */
    text-decoration: none;
  }
  
  .pagination a:hover {
    background-color: #e5e7eb; /* Tailwind gray-300 */
  }
  
  .pagination .active a {
    background-color: #000; /* Tailwind black */
    color: #fff; /* Tailwind white */
  }
  
  .pagination .break-me {
    cursor: default;
  }
  
  .pagination .previous a,
  .pagination .next a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

/* Add this to your CSS file */
@keyframes dropdownAnimation {
  from {
    transform: translateY(30px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dropdown-menu {
  animation: dropdownAnimation 0.2s ease-out;
}

